
/*movil*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
/*inicio*/
    h1{
        font-size: $size3;
    }

.nosotros{
    h2{
        font-size: 1.2rem;
        }
    p{
        font-size: $size6;
}
    }

.newsletter{
    h2{
        font-size: 1.2rem;
    }

    div{
        p{
            font-size: $size6;
        }
    }

    form{
        [type="email"]{
            display: block;
            width: 100%;
        }
        .btn{
            [type="submit"]{
                display: block;
                margin-top: 10px;
            }
        }
    }
}

footer{
    .footer-contenido{
        p{
            font-size:$size6;
        }
    }
}

/*contacto*/

.contenedor{
    flex-direction: column;
    align-items: flex-start;

    .contenedor-p{
        p{
            padding: 10px;
            width: 100%;
            font-size: $size5;
        }
    }

    .formulario{
        width: 90%;
        margin: 0 auto;
        height: auto;
        margin-bottom: 10px;
    }
}

}

@media only screen and (min-width: 546px) and (max-width: 768px) {
    /*contacto*/
.contenedor{
    .formulario{
        width: 500px;
        height: auto;
        margin: 0 auto;
        height: auto;
        margin-bottom: 10px;
    }
}
}



/*movil y tablet*/ 
@media screen and (max-width: 1023px) and (min-width: 320px) {

/*sinopsis*/
    .sinopsis-contenedor {
        flex-direction: column;

        .trailer{
            display: flex;
            justify-content: center;
            width: 100%;
            margin:0;

            iframe{
                width: 100%;
                height: 50vh;
            }
        }

        .sinopsis{
            width: 100%;
            margin:0;

            p{
                font-size: $size6;
            }
        }
    }

/*personajes */
.personajes{
    flex-direction: column; 
    align-items: center;

    img{
        width: $size1 - 400px;
    }

.pers-info{
    ul{
        margin:0px;
        li{
            font-size: 0.9rem;
            margin-bottom: 5px;
            
        }
    }
}
}

}


/*tablets*/

@media only screen and (min-width: 769px) and (max-width: 1023px) {
/*inicio*/

    h1{
        font-size: $size4;
    }

.nosotros{
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: $size5;
        }
    }
.newsletter{
    h2{
        font-size: 1.5rem;
    }
    div{
        p{
            font-size: $size5;
        }
    }
    form{
        [type="email"]{
            display: block;
            width: 90%;
            margin-left: 30px;
        }
        .btn{
            [type="submit"]{
                display: block;
                margin-top: 10px;
            }
        }
    }
}

/*sinopsis*/
.sinopsis  {
    p{
        font-size: $size5;
    }
}

.trailer {

    iframe{
        width: 100%;
        height: 70vh;
    }

}

/*personajes*/
.personajes{

    img{
        width: $size1 - 350px;
    }

.pers-info{
    ul{
        margin:0px;
        li{
            font-size: $size5;
        }
    }
}

}

/*contacto*/

.contenedor{
    .contenedor-p{
        p{
            font-size: $size5;
            margin: 5px;
            
        }
    }
    .formulario{
        width: $size1 - 300px;
        input{
            @include form1;

        }

        textarea{
        @include form1;
        }
    }

}

}







