@mixin shadow {
    text-shadow: 0px 0px 2px #000000;
}

@mixin element-form{
    border-radius: 5px;
    padding: 8px;
}

@mixin estilos{
    font-size: 20px;
    font-weight: $weight + 100;
    font-family: $font2;
    padding: 10px;
    @include shadow;
}

@mixin estilos-2{
    @include element-form;
    outline: none;
    border: none;
    width: 60%;
}

@mixin transition-img{
@media only screen and (min-width:1024px){
    transition: transform 0.4s ease 0.1s;

    &:hover{
        transform: scale(0.8); 
    }
}
}

