//colores
$color1:#576490;

$color2:#ffffff; 

$color3:#122335;

$color4: #000000;

$color5: #cd83d8;

$color6:#e392ef ;

$color7:#47557a;

//fuentes
$font1:"Montserrat",sans-serif;

$font2 : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//size
$size1:600px;
$size2: 20px;
$weight:600;
$size3: 1.4rem;
$size4:1.8rem;
$size5: 1rem;
$size6:0.8rem;

